<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Restaurant Menus</title>
</head>
<body>

  <strong>/restaurants/ (and /)</strong>

  <h1>Restaurants</h1>
  
  <ul>
    <li>
      <a href="#">Restaurant name</a>
      <br>
      <a href="#">Edit</a>
      <a href="#">Delete</a>
      <hr>
    </li>
    <li>
      <a href="#">Restaurant name</a>
      <br>
      <a href="#">Edit</a>
      <a href="#">Delete</a>
      <hr>
    </li>
    <li>
      <a href="#">Restaurant name</a>
      <br>
      <a href="#">Edit</a>
      <a href="#">Delete</a>
      <hr>
    </li>
    <li>
      <a href="#">Restaurant name</a>
      <br>
      <a href="#">Edit</a>
      <a href="#">Delete</a>
      <hr>
    </li>
    <li>
      <a href="#">Restaurant name</a>
      <br>
      <a href="#">Edit</a>
      <a href="#">Delete</a>
      <hr>
    </li>
  </ul>
  <a href="#">add new restaurant</a>

</body>
</html>
