<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Restaurant Menus</title>
</head>
<body>

  <strong>/restaurants/< int:restaurant_id >/</strong>
  <br>
  <strong>/restaurants/< int:restaurant_id >/menu/</strong>

  <h1>Restaurant Name</h1>
  
  <ul>
    <li>
      Menu Item (price)<br>
      Description <br>
      <a href="#">Edit</a>
      <a href="#">Delete</a>
      <hr>
    </li>
    <li>
      Menu Item (price)<br>
      Description <br>
      <a href="#">Edit</a>
      <a href="#">Delete</a>
      <hr>
    </li>
    <li>
      Menu Item (price)<br>
      Description <br>
      <a href="#">Edit</a>
      <a href="#">Delete</a>
      <hr>
    </li>
    <li>
      Menu Item (price)<br>
      Description <br>
      <a href="#">Edit</a>
      <a href="#">Delete</a>
      <hr>
    </li>
    <li>
      Menu Item (price)<br>
      Description <br>
      <a href="#">Edit</a>
      <a href="#">Delete</a>
      <hr>
    </li>
  </ul>
  <a href="#">add new item</a>
  <br>
  <a href="#">HOME</a>
</body>
</html>